.col-md-10.col-md-offset-1
  %blockquote
    .row
      .col-md-1#total_question_votes
        =render :partial => 'replies/vote', :locals => {:question => @question, :voteable => @question, :type => "question"}
      .col-md-11
        =render :partial => 'question'
  
  =render :partial => 'total_answers'

  #answers_comments_div
    =render :collection => @answers, :locals =>{:question => @question}, :partial => 'replies/answer'

  %h5
    %b Add an answer:

    =render :partial => 'replies/form'

  =link_to 'Back to Questions', questions_path, :class=> 'btn btn-default'

