%h2
  = @question.title
%p
  %b.pull-right 
    by: 
    = @question.user.full_name
  %br/
%hr


%h4 
  = simple_format @question.body

%hr

%h5 Answers:

/ = link_to 'Edit', edit_question_path(@question)
/ \|
/ = link_to 'Back', questions_path
