=render :partial => 'replies/vote', :locals => {:question => @question, :voteable => comment, :type => "comment"}

= comment.body
%blockquote
  %footer
    = comment.user.full_name + " " + comment.created_at.to_formatted_s(:short)
