%strong
  =voteable.total_votes

- vote = current_user.get_vote voteable

-if voteable.upvoted_by?current_user
  %span.glyphicon.glyphicon-thumbs-up.btn.btn-sm
  =render :partial => 'replies/downvote_link', :locals => {:vote => vote,:question_id => @question.id}

-elsif voteable.downvoted_by?current_user
  =render :partial => 'replies/upvote_link', :locals => {:vote => vote,:question_id => @question.id}
  %span.glyphicon.glyphicon-thumbs-down.btn.btn-sm

-else     
  =render :partial => 'replies/upvote_link', :locals => {:vote => vote,:question_id => @question.id}
  =render :partial => 'replies/downvote_link', :locals => {:vote => vote,:question_id => @question.id}

