%br/
-vote = Vote.get_vote(@question,current_user.id)

=link_to  question_votes_path(@question,@answer,:vote_count => 1, :user_id => current_user.id ), :method => :post, :class =>'btn btn-primary' do
  %span.glyphicon.glyphicon-chevron-up

%span.btn
  = @question.votes.count

=link_to  question_votes_path(@question,@answer,:vote_count => -1 ), :method => :delete, :class =>'btn btn-danger' do
  %span.glyphicon.glyphicon-chevron-down
