%span.btn
%strong
  -unless :type == "question"
    =voteable.total_votes

-vote = User.already_voted?(voteable,current_user.id)

-if vote == nil
  - create_path(voteable,current_user.id,type,@question.id)

-elsif voteable.users_existing_vote(current_user) == 1
  =link_to  "#", :class =>'btn btn-sm', :disabled => :disabled do
    %span.glyphicon.glyphicon-thumbs-up

-else
  -if type == "question"
    =link_to  answer_vote_path(voteable,vote,:question_id => @question.id,:type => "upvote"), :method => :put, :class =>'btn btn-sm' do
      %span.glyphicon.glyphicon-thumbs-up
  -elsif type == "answer"
    =link_to  answer_vote_path(voteable,vote,:question_id => @question.id,:type => "upvote"), :method => :put, :class =>'btn btn-sm' do
      %span.glyphicon.glyphicon-thumbs-up
  -else
    =link_to  comment_vote_path(voteable,vote,:question_id => @question.id,:type => "upvote"), :method => :put, :class =>'btn btn-sm' do
      %span.glyphicon.glyphicon-thumbs-up


-if voteable.users_existing_vote(current_user) == -1
  =link_to  "#", :class =>'btn btn-sm', :disabled => :disabled do
    %span.glyphicon.glyphicon-thumbs-down

-else
  -if type == "question"
    =link_to  answer_vote_path(voteable,vote,:question_id => @question.id,:type => "downvote"), :method => :put, :class =>'btn btn-sm' do
      %span.glyphicon.glyphicon-thumbs-down
  -elsif type == "answer"
    =link_to  answer_vote_path(voteable,vote,:question_id => @question.id,:type => "downvote"), :method => :put, :class =>'btn btn-sm' do
      %span.glyphicon.glyphicon-thumbs-down
  -else
    =link_to  comment_vote_path(voteable,vote,:question_id => @question.id,:type => "downvote"), :method => :put, :class =>'btn btn-sm' do
      %span.glyphicon.glyphicon-thumbs-down
