
%span.btn
%strong
  =answer.total_votes

-vote = User.already_voted?(answer,current_user.id)

-if vote == nil
  =link_to  answer_votes_path(answer,:vote_value => 1, :user_id => current_user.id, :voteable_type => "Answer", :question_id => @question.id), :method => :post, :class =>'btn btn-sm' do
    %span.glyphicon.glyphicon-thumbs-up

-elsif answer.users_existing_vote(current_user) == 1
  =link_to  answer_votes_path(answer.id), :method => :post, :class =>'btn btn-sm', :disabled => :disabled do
    %span.glyphicon.glyphicon-thumbs-up

-else
  =link_to  answer_vote_path(answer,vote,:voteable_type => "Answer",:question_id => @question.id), :method => :delete, :class =>'btn btn-sm' do
    %span.glyphicon.glyphicon-thumbs-up


-if vote == nil
  =link_to  answer_votes_path(answer,:vote_value => -1, :user_id => current_user.id, :voteable_type => "Answer", :question_id => @question.id ), :method => :post, :class =>'btn btn-sm' do
    %span.glyphicon.glyphicon-thumbs-down

-elsif answer.users_existing_vote(current_user) == -1
  =link_to  answer_votes_path(answer.id), :method => :post, :class =>'btn btn-sm', :disabled => :disabled do
    %span.glyphicon.glyphicon-thumbs-down

-else
  =link_to  answer_vote_path(answer,vote,:voteable_type => "Answer",:question_id => @question.id), :method => :delete, :class =>'btn btn-sm' do
    %span.glyphicon.glyphicon-thumbs-down


