%h1 Tags



%br/
%br/
= link_to 'New Question', new_question_path
%table
  %tr
    %th Name
    %th
    %th
    %th

  - @tags.each do |tag|
    %tr
      %td= tag.name
      %td= link_to 'Show', tag
